<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oeasy.ordereasyadmin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.General.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.General.LoginActivity">

        </activity>
        <activity android:name=".Activities.Cook.CookActivity">

        </activity>
        <activity android:name=".Activities.Waiter.WaiterHomeActivity">

        </activity>
        <activity android:name=".Activities.Manager.ManagerHomeActivity">

        </activity>
        <activity android:name=".Activities.Manager.AttendanceActivity">

        </activity>
        <activity android:name=".Activities.Waiter.TableDetailsActivity">

        </activity>

    </application>

</manifest>